$max-content-width: 428px;

$font-weight-xl: 800;
$font-weight-lg: 700;
$font-weight-md: 400;
$font-weight-sm: 300;

$font-size-xxxl: 36px;
$font-size-xxl: 26px;
$font-size-xl: 24px;
$font-size-lg: 17px;
$font-size-md: 16px;
$font-size-sm: 13px;
$font-size-xs: 12px;
$font-size-xxs: 10px;

$space-lg: 40px;
$space-md: 20px;
$space-sm: 16px;
$space-xs: 12px;
$space-xxs: 10px;
$space-xsss: 8px;

$border-radius-sm: 16px;
$border-radius-lg: 100px;

$color-dark: #030303;
$color-black: #000000;
$color-white: #ffffff;
$color-lightGray: #F0E4EA;
$color-gray: #D8D8D8;
$color-red1: #F24E5D;
$color-red2: #F66672;
$color-red3: #F32567
